@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Assets/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background: url(Assets/bg-mobile.svg) no-repeat hsl(257, 40%, 49%) cover ;
}
nav img{
    width: 30%;
}
nav{
    padding-top: 1.5rem;
}
.container{
    width: 80%;
    margin: auto;
}

header{
    margin: auto;
    margin-top: 30px;
    /* height: 29rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
}
.header-inner{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap:20px
    
}
.header-image{
    margin-top: 25px;
    margin-bottom: 10px;
}
.header-inner h2{
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 90px;
    margin: auto;
    padding-top: 20px;
    width: 90%;
    font-size: 25px;
    line-height: 2.2rem;

    
}
.header-inner p{
  color: white;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  font-size: 15px;
  width: 95%;
  
}
.header-inner button{
    font-family: 'Open Sans', sans-serif;
    color: hsl(257, 40%, 49%);
    border-radius: 2rem;
    border: none;
    width: 60%;
    margin: auto;
    margin-bottom: 50px ;
    height: 3rem;
    font-size: 13px;
    box-shadow: -1px 2px 5px rgb(70,68,68);
}
.logo{
    margin-top: -20px;
    width: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;


}
.header img{
    width: 100%;   
}
footer img{
    width: 30px;
}
    
@media(min-width: 1024px){
    body{
        background: url(Assets/bg-desktop.svg) no-repeat hsl(257, 40%, 49%) ;
    }
    header{
        width: 10px;
        flex-direction: row;

    }
    nav img{
        width: 18%;
        padding-bottom: 3rem;
    }
    .header-inner{
        padding-top: 1rem;
        Width: 80%;
        margin: auto;
        text-align: start;

        

    }
    .header-inner h2{
        margin-top: -240px;
        width: 100%;
        font-size: 35px;
        padding-right: 120px;
        line-height: 3.3rem;
   

    }
    .header-inner p{
        width: 100%;
        font-size: 17px;
        padding-right: 102px;
    }
    .header-inner button{
        margin: 0;
        width: 30%;
        font-size: 17px;
    
    }

    .header img{
        width: 740px
    }    
    .header-image{
        width: 110%;
    }
    .container{
        width: 90%;
        margin: auto;

    }
    .logo{
        margin-top: -30px;
        width: 20px;
        padding-top: 15px;
        margin-right: 240px;

    }
    
    
